.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  background-color: #000000;
  border-top: 4px solid  rgb(0, 0, 255);
}
.footerLogo{
  width: 250px;
}

.footerContainer p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}